
<div class="flex flex-row p-8 gap-8 justify-center">
<app-newguitarbutton></app-newguitarbutton>
<app-logoutbutton></app-logoutbutton>
</div>

<div class="flex flex-row justify-center">
  <div class="w-auto text-sm text-left text-gray-500 ">
    <div class="flex flex-row justify-center md:grid md:grid-cols-3 text-xs text-gray-700 uppercase bg-gray-50">
      <div class="flex flex-row justify-center border-2">
        <th class="px-6 py-3">
          Serial
        </th>
        <th class="px-6 py-3">
          See
        </th>
        <th class="px-6 py-3">
          Edit
        </th>
      </div>
      <div class="md:flex flex-row justify-center hidden border-2">
        <th class="px-6 py-3">
          Serial
        </th>
        <th class="px-6 py-3">
          See
        </th>
        <th class="px-6 py-3">
          Edit
        </th>
      </div>
      <div class="md:flex flex-row justify-center hidden border-2">
        <th class="px-6 py-3">
          Serial
        </th>
        <th class="px-6 py-3">
          See
        </th>
        <th class="px-6 py-3">
          Edit
        </th>
      </div>
    </div>
    <div class="md:grid md:grid-cols-3">
      @for (guitar of guitars; track guitar; let i = $index)
      {
      <div class="flex flex-row justify-center odd:bg-white even:bg-gray-50 border-b border-x">
        <div class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          {{guitar.guitarId}}
        </div>
        <div class="px-6 py-4 cursor-pointer">
          <div (click)="navSeeGuitar(guitar.guitarId)" class="font-medium text-blue-600 hover:underline">View</div>
        </div>
        <div class="px-6 py-4 cursor-pointer">
          <div (click)="navEditGuitar(guitar.guitarId)" class="font-medium text-blue-600 hover:underline">Edit</div>
        </div>
      </div>
      }
    </div>
  </div>

</div>
