<p>guitars works!</p>
          <div>

              <ul>
                  <li>
                      <a>Français</a>
                  </li>
                  <li>
                      <a>English</a>
                  </li>
                  <li>
                      <a>Español</a>
                  </li>
              </ul>


                  <div>
                      <p><strong>Modèle : </strong>GTV</p>
                      <p><strong>N° Série : </strong>35360</p>
                      <p><strong>Table : </strong>Cèdre du Canada</p>
                      <p><strong>Barrage : </strong>Traditionnel</p>
                      <p><strong>Diapason : </strong>670mm</p>
                      <p><strong>Touche : </strong>Ebène</p>
                      <p><strong>Manche : </strong>Acajou du Honduras</p>
                      <p><strong>Fond et éclisses : </strong>Palissandre Indien</p>
                      <p><strong>Chevalet : </strong>Palissandre Indien</p>
                      <p><strong>Poids du Chevalet : </strong>23,35 gr.</p>
                      <p><strong>Sillets tête / chevalet : </strong>os naturel</p>
                      <p><strong>Largeur sillet de tête : </strong>52mm</p>
                      <p><strong>Largeur manche 12em frette : </strong>62mm</p>
                      <p><strong>Vernis : </strong>Gomme laque “Astra“ au tampon</p>
                      <p><strong>Mécaniques : </strong>Schaller <a class="green" href="https://schaller.info/en/machine-heads/488/grandtune-classic-hauser?number=10611063.66.11">GrandTune</a> Hauser</p>
                      <p><strong>Cordes : </strong>Savarez Cantiga Guitare Contrebasse</p>
                      <p><strong>Poids : </strong>1725 gr.</p> <!-- end of progress-container -->
                  </div> <!-- end of tab-pane -->
                  <!-- end of tab -->

                  <!-- Tab -->
                  <div>
                      <p><strong>Model: </strong>GTV</p>
                      <p><strong>Serial number: </strong>35360</p>
                      <p><strong>Top: </strong>Canadian Red Cedar</p>
                      <p><strong>Bracing: </strong>Traditional Bracing</p>
                      <p><strong>Scale: </strong>670mm</p>
                      <p><strong>Fingerboard: </strong>Ebony</p>
                      <p><strong>Neck: </strong>Brazilian Cedar</p>
                      <p><strong>Back & Sides: </strong>Indian Rosewood</p>
                      <p><strong>Bridge: </strong>Indian Rosewood</p>
                      <p><strong>Bridge weight: </strong>23.35 gr.</p>
                      <p><strong>Nut / Saddle: </strong>Bone Blank</p>
                      <p><strong>Width Nut: </strong>52mm</p>
                      <p><strong>Width 12th fretwire: </strong>62mm</p>
                      <p><strong>Varnish: </strong>French Polish “Astra“</p>
                      <p><strong>Machines heads : </strong>Schaller <a class="green" href="https://schaller.info/en/machine-heads/488/grandtune-classic-hauser?number=10611063.66.11">GrandTune</a> Hauser</p>
                      <p><strong>Strings: </strong>Savarez Cantiga Guitare Contrebasse</p>
                      <p><strong>Weight: </strong>1725 gr.</p>
                  </div>

                  <div>
                      <p><strong>Modelo: </strong>GTV</p>
                      <p><strong>N° Serie: </strong>35360</p>
                      <p><strong>Tapa armónica: </strong>Cedro rojo de Canadá</p>
                      <p><strong>Varetaje: </strong>Tradicional</p>
                      <p><strong>Tiro de cuerda: </strong>670mm</p>
                      <p><strong>Diapasón: </strong>Ébano</p>
                      <p><strong>Mango: </strong>Cedro de Brasil</p>
                      <p><strong>Fondo y Aros: </strong>Palosanto de Indias</p>
                      <p><strong>Puente: </strong>Palosanto de Indias</p>
                      <p><strong>Peso del Puente: </strong>23,35 gr.</p>
                      <p><strong>Cejuela y silleta: </strong>Hueso natural</p>
                      <p><strong>Ancho de cejuela: </strong>52mm</p>
                      <p><strong>Ancho en el traste 12: </strong>62mm</p>
                      <p><strong>Acabado: </strong>Goma laca “Astra“ a muñequilla</p>
                      <p><strong>Clavijeros: </strong>Schaller <a class="green" href="https://schaller.info/en/machine-heads/488/grandtune-classic-hauser?number=10611063.66.11">GrandTune</a> Hauser</p>
                      <p><strong>Cuerdas: </strong>Savarez Cantiga Guitare Contrebasse</p>
                      <p><strong>Peso: </strong>1725 gr.</p>
                  </div>


          </div>
