@if(!guitar) {
<app-spinner></app-spinner>
}


<!-- @if(guitar) { -->

<div class="flex flex-row justify-center mt-6 w-100 cursor-pointer text-base md:justify-end md:mt-3 md:pr-1">
  <div class="px-3 text-brand sm:hover:underline" [class.text-muted]="langSelect != 'fr'" (click)="changeSelector('fr')">Français</div>
  <div class="px-3 text-brand sm:hover:underline" [class.text-muted]="langSelect != 'en'" (click)="changeSelector('en')">English</div>
  <div class="px-3 text-brand sm:hover:underline" [class.text-muted]="langSelect != 'es'" (click)="changeSelector('es')">Español</div>
</div>


<div class="mx-6 mt-8 md:mx-20 text-standard text-base md:text-lg">
  @if(langSelect == 'fr') {
    <div>
    <div><strong>Modèle : </strong>{{ guitar.nameModel }}</div>
    <div><strong>N° Série : </strong>{{ guitar.guitarId }}</div>
    <div><strong>Table : </strong>{{ guitar.fr_top }}</div>
    <div><strong>Barrage : </strong>{{ guitar.fr_bracing }}</div>
    <div><strong>Diapason : </strong>{{ guitar.scale }}mm</div>
    <div><strong>Touche : </strong>{{ guitar.fr_fingerboard }}</div>
    <div><strong>Manche : </strong>{{ guitar.fr_neck }}</div>
    <div><strong>Fond et éclisses : </strong>{{ guitar.fr_backandsides }}</div>
    <div><strong>Chevalet : </strong>{{ guitar.fr_bridge }}</div>
    @if(guitar.bridgeweight) {
      <div><strong>Poids du Chevalet : </strong>{{ guitar.bridgeweight }} gr.</div>
    }
    <div><strong>Sillets tête / chevalet : </strong>{{ guitar.fr_nut }}</div>
    <div><strong>Largeur sillet de tête : </strong>{{ guitar.widthnut }}mm</div>
    <div><strong>Largeur manche 12em frette : </strong>{{ guitar.width12thfret }}mm</div>
    <div><strong>Vernis : </strong>{{ guitar.fr_varnish }}</div>
    <div><strong>Mécaniques : </strong>{{ guitar.machinehead }} <a class="text-brand"
        href="{{ guitar.machineheadlink }}">-lien-</a></div>
    <div><strong>Cordes : </strong>{{ guitar.strings }}</div>
    <div><strong>Poids : </strong>{{ guitar.weight }} gr.</div>
  </div>
  }

  @if(langSelect == 'en'){
    <div>
    <div><strong>Model: </strong>{{ guitar.nameModel }}</div>
    <div><strong>Serial number: </strong>{{ guitar.guitarId }}</div>
    <div><strong>Top: </strong>{{ guitar.top }}</div>
    <div><strong>Bracing: </strong>{{ guitar.bracing }}</div>
    <div><strong>Scale: </strong>{{ guitar.scale }}mm</div>
    <div><strong>Fingerboard: </strong>{{ guitar.fingerboard }}</div>
    <div><strong>Neck: </strong>{{ guitar.neck }}</div>
    <div><strong>Back & Sides: </strong>{{ guitar.backandsides }}</div>
    <div><strong>Bridge: </strong>{{ guitar.bridge }}</div>
    @if(guitar.bridgeweight) {
      <div><strong>Bridge weight: </strong>{{ guitar.bridgeweight }} gr.</div>
    }
    <div><strong>Nut / Saddle: </strong>{{ guitar.nut }}</div>
    <div><strong>Width Nut: </strong>{{ guitar.widthnut }}</div>
    <div><strong>Width 12th fretwire: </strong>{{ guitar.width12thfret }}mm</div>
    <div><strong>Varnish: </strong>{{ guitar.varnish }}</div>
    <div><strong>Machines heads : </strong>{{ guitar.machinehead }} <a class="text-brand"
        href="{{ guitar.machineheadlink }}">-link-</a></div>
    <div><strong>Strings: </strong>{{ guitar.strings }}</div>
    <div><strong>Weight: </strong>{{ guitar.weight }} gr.</div>
  </div>
  }

  @if(langSelect == 'es'){
    <div class="hidden md:block">
    <div>
      La guitarra modelo {{ guitar.nameModel }} con número de serie {{ guitar.guitarId }}
      está construida con una tapa de {{ guitar.es_top }} de primera calidad y fondos y aros de {{ guitar.es_backandsides }}. <br>
      El varetaje {{ guitar.es_bracing }}


    </div>
    <div><strong>Tiro de cuerda: </strong>{{ guitar.scale }}</div>
    <div><strong>Diapasón: </strong>{{ guitar.es_fingerboard }}</div>
    <div><strong>Mango: </strong>{{ guitar.es_neck }}</div>
    <div><strong>Puente: </strong>{{ guitar.es_bridge }}</div>
    @if(guitar.bridgeweight) {
      <div><strong>Peso del Puente: </strong>{{ guitar.bridgeweight }} gr.</div>
    }
    <div><strong>Cejuela y silleta: </strong>{{ guitar.es_nut }}</div>
    <div><strong>Ancho de cejuela: </strong>{{ guitar.widthnut }}mm</div>
    <div><strong>Ancho en el traste 12: </strong>{{ guitar.width12thfret }}mm</div>
    <div><strong>Acabado: </strong>{{ guitar.es_varnish }}</div>
    <div><strong>Clavijeros: </strong>{{ guitar.machinehead }} <a class="text-brand"
        href="{{ guitar.machineheadlink }}">-link-</a></div>
    <div><strong>Cuerdas: </strong>{{ guitar.strings }}</div>
    <div><strong>Peso: </strong>{{ guitar.weight }} gr.</div>
  </div>

  <div class="md:hidden">
    <div><strong>Modelo: </strong>{{ guitar.nameModel }}</div>
    <div><strong>N° Serie: </strong>{{ guitar.guitarId }}</div>
    <div><strong>Tapa armónica: </strong>{{ guitar.es_top }}</div>
    <div><strong>Varetaje: </strong>{{ guitar.es_bracing }}</div>
    <div><strong>Tiro de cuerda: </strong>{{ guitar.scale }}</div>
    <div><strong>Diapasón: </strong>{{ guitar.es_fingerboard }}</div>
    <div><strong>Mango: </strong>{{ guitar.es_neck }}</div>
    <div><strong>Fondo y Aros: </strong>{{ guitar.es_backandsides }}</div>
    <div><strong>Puente: </strong>{{ guitar.es_bridge }}</div>
    @if(guitar.bridgeweight) {
      <div><strong>Peso del Puente: </strong>{{ guitar.bridgeweight }} gr.</div>
    }
    <div><strong>Cejuela y silleta: </strong>{{ guitar.es_nut }}</div>
    <div><strong>Ancho de cejuela: </strong>{{ guitar.widthnut }}mm</div>
    <div><strong>Ancho en el traste 12: </strong>{{ guitar.width12thfret }}mm</div>
    <div><strong>Acabado: </strong>{{ guitar.es_varnish }}</div>
    <div><strong>Clavijeros: </strong>{{ guitar.machinehead }} <a class="text-brand"
        href="{{ guitar.machineheadlink }}">-link-</a></div>
    <div><strong>Cuerdas: </strong>{{ guitar.strings }}</div>
    <div><strong>Peso: </strong>{{ guitar.weight }} gr.</div>
  </div>
  }

</div>


<!-- } -->
