<div class="flex flex-row justify-center mt-6 w-100 md:justify-normal">
  <div class="px-3 text-brand" (click)="changeSelector('fr')">Français</div>
  <div class="px-3 text-muted" (click)="changeSelector('en')">English</div>
  <div class="px-3 text-muted" (click)="changeSelector('es')">Español</div>

</div>


@if(guitar) {


                  <div class="ml-6 mt-8">


                    <!-- <p><strong>Modèle : </strong>GTV</p>
                    <p><strong>N° Série : </strong>35360</p>
                    <p><strong>Table : </strong>Cèdre du Canada</p>
                    <p><strong>Barrage : </strong>Traditionnel</p>
                    <p><strong>Diapason : </strong>670mm</p>
                    <p><strong>Touche : </strong>Ebène</p>
                    <p><strong>Manche : </strong>Acajou du Honduras</p>
                    <p><strong>Fond et éclisses : </strong>Palissandre Indien</p>
                    <p><strong>Chevalet : </strong>Palissandre Indien</p>
                    <p><strong>Poids du Chevalet : </strong>23,35 gr.</p>
                    <p><strong>Sillets tête / chevalet : </strong>os naturel</p>
                    <p><strong>Largeur sillet de tête : </strong>52mm</p>
                    <p><strong>Largeur manche 12em frette : </strong>62mm</p>
                    <p><strong>Vernis : </strong>Gomme laque “Astra“ au tampon</p>
                    <p><strong>Mécaniques : </strong>Schaller <a class="green" href="https://schaller.info/en/machine-heads/488/grandtune-classic-hauser?number=10611063.66.11">GrandTune</a> Hauser</p>
                    <p><strong>Cordes : </strong>Savarez Cantiga Guitare Contrebasse</p>
                    <p><strong>Poids : </strong>1725 gr.</p> -->



                      <p><strong>Model: </strong>{{ guitar.nameModel }}</p>
                      <p><strong>Serial number: </strong>{{ guitar.guitarId }}</p>
                      <p><strong>Top: </strong>{{ guitar.top }}</p>
                      <p><strong>Bracing: </strong>{{ guitar.bracing }}</p>
                      <p><strong>Scale: </strong>{{ guitar.scale }}mm</p>
                      <p><strong>Fingerboard: </strong>{{ guitar.fingerboard }}</p>
                      <p><strong>Neck: </strong>{{ guitar.neck }}</p>
                      <p><strong>Back & Sides: </strong>{{ guitar.backandsides }}</p>
                      <p><strong>Bridge: </strong>{{ guitar.bridge }}</p>
                      <p><strong>Bridge weight: </strong>{{ guitar.bridgeweight }} gr.</p>
                      <p><strong>Nut / Saddle: </strong>{{ guitar.nut }}</p>
                      <p><strong>Width Nut: </strong>{{ guitar.widthnut }}</p>
                      <p><strong>Width 12th fretwire: </strong>{{ guitar.width12thfret }}mm</p>
                      <p><strong>Varnish: </strong>{{ guitar.varnish }}</p>
                      <p><strong>Machines heads : </strong>{{ guitar.machinehead }} <a class="green" href="https://schaller.info/en/machine-heads/488/grandtune-classic-hauser?number=10611063.66.11">GrandTune</a> Hauser</p>
                      <p><strong>Strings: </strong>{{ guitar.strings }}</p>
                      <p><strong>Weight: </strong>{{ guitar.weight }} gr.</p>




                      <!-- <p><strong>Modelo: </strong>GTV</p>
                      <p><strong>N° Serie: </strong>35360</p>
                      <p><strong>Tapa armónica: </strong>Cedro rojo de Canadá</p>
                      <p><strong>Varetaje: </strong>Tradicional</p>
                      <p><strong>Tiro de cuerda: </strong>670mm</p>
                      <p><strong>Diapasón: </strong>Ébano</p>
                      <p><strong>Mango: </strong>Cedro de Brasil</p>
                      <p><strong>Fondo y Aros: </strong>Palosanto de Indias</p>
                      <p><strong>Puente: </strong>Palosanto de Indias</p>
                      <p><strong>Peso del Puente: </strong>23,35 gr.</p>
                      <p><strong>Cejuela y silleta: </strong>Hueso natural</p>
                      <p><strong>Ancho de cejuela: </strong>52mm</p>
                      <p><strong>Ancho en el traste 12: </strong>62mm</p>
                      <p><strong>Acabado: </strong>Goma laca “Astra“ a muñequilla</p>
                      <p><strong>Clavijeros: </strong>Schaller <a class="green" href="https://schaller.info/en/machine-heads/488/grandtune-classic-hauser?number=10611063.66.11">GrandTune</a> Hauser</p>
                      <p><strong>Cuerdas: </strong>Savarez Cantiga Guitare Contrebasse</p>
                      <p><strong>Peso: </strong>1725 gr.</p> -->

                  </div>


}
