/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  @apply m-auto w-2/3 max-w-sm min-w-80 p-4 bg-slate-100  rounded-lg sm:border md:shadow-md sm:p-6 md:p-8 md:border-gray-200;
}

.label {
  @apply block mb-1 mt-2 text-xs font-medium text-gray-900 dark:text-white;
}

.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;
}

.button {
  @apply w-32 px-0 py-1.5 md:w-48 md:px-10 md:py-2.5 text-white bg-brand hover:bg-brand-strong focus:ring-4 font-medium rounded-lg text-sm text-center;
}

/* @layer base {
  :root {
    --color-text-base: #787976;
    --color-text-strong: #484a46;
    --color-text-muted: #c1cace;
    --color-text-brand: #cda433;
    --color-text-brand-reverse: #b81918;
    --color-text-brand-strong: #eabe38;
    --color-text-brand-2-reverse-strong: #7f1710;
    --color-text-activate-strong: #ffffff;
  }
} */
